@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root { 
  --color-theme1: #000000;
  --color-theme2: #69A792;
  --color-theme3: #ffffff;
  --color-theme4: #F8F8F8;
  --color-theme5: #3a3939;
  --color-theme6: #ececec;
  --color-theme7: #22222257;
  --font-size: 16px;  
  --grid-columns: 14;
  --grid-width-columns: 30px;
  --grid-column-gap: 3.5vw;
  --grid-row-gap: 60px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;


}

p {
  font-size: 1rem;
}

h1 {
  font-size: 1.5rem;
}

html, * {
  padding: 0;
  border: 0;
  margin: 0;
}

body {
  
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--color-theme3);
  color: var(--color-theme1);
}

#root {
  display: grid;
  height: 100%;  
  grid-template-rows: auto 1fr auto;

}

@keyframes loading {
  0% { transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.loading {
  width: 100%;
  height:100vh;
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 1/-1;
}

.not-found {
  width: 100%;
  height:100vh;
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 1/-1;
}

.loading-bar {
  width: 100px;
  height: 100px;
  background-color: var(--color-theme1);
  border: 20px solid var(--color-theme1);
  border-top: 20px solid var(--color-theme3);
  border-radius:50%;
  animation: loading 1s linear infinite;
}

header {
  overflow: visible;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(var(--grid-columns),var(--grid-width-columns));
  column-gap: var(--grid-column-gap);
  height: 70px;
  width: 100%;
  background-color: var(--color-theme1);
  box-sizing: border-box;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1;
  height: 100%;
  width: max-content;
  
}

header nav button{
  background-color: var(--color-theme1);
  font-weight: 500;
  color: var(--color-theme3);
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;
}

header nav button:hover {
  background-color: var(--color-theme3);
  color: var(--color-theme1);
}

.current-page {
  background-color: var(--color-theme3);
  color: var(--color-theme1);
}


footer {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 250px;
  background-color: var(--color-theme1);
  color: var(--color-theme3);
  margin-top: 120px;
  width: 100%;
  position: static;
}


footer p {
  font-size: .8rem;
  margin: 15px;
}

.card-container {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(var(--grid-columns),var(--grid-width-columns));
  column-gap: var(--grid-column-gap);
  row-gap: 60px;
  grid-column: 1 / -1;
}



.view-more {
  font-size: .9rem;
  font-weight: 600;
  padding: 10px 20px;
  border: 2px solid var(--color-theme1);
  width: max-content;
  height: max-content;
  text-wrap: nowrap;
  color: var(--color-theme3);
  background-color: var(--color-theme1);

}

.view-more:hover {
  cursor: pointer;
  border: 2px solid var(--color-theme3);
}


.search-container {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-column: auto/-1;
  align-items: end;
}

.search-options-overlay {
  opacity: 0;
  visibility: hidden;
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.438);
  inset: 0;
  z-index: 1;
}

.search-options-overlay.open {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.search-options {
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 290px;
  top: 40px;
  left: auto;
  height: max-content;
  
  position: absolute;

  background-color: var(--color-theme6);
  z-index: 10;
  border-radius: 10px;
}

.search-options.open {
  display: flex;
}

.search-option {
  box-sizing: border-box;
  padding: 15px 15px;
  width: 100%;
  text-align: start;
}

.search-option span {
  text-decoration: underline;
}

.search-option:hover {
  cursor: pointer;
  background-color: var(--color-theme7);
}

.search {
  display: flex;
}

.search-submit{
  background-color: var(--color-theme2);
  color: var(--color-theme3);
  height: max-content;
  width: max-content;
  padding: 8px 16px;
  border-radius: 0 5px 5px 0;
}

.search-text{
  border-radius: 5px 0 0 5px;
  outline: none;
  padding: 5px;
  background-color: var(--color-theme3);
}

.search-submit:hover {
  filter: brightness(85%);

}
.search-submit-icon {
  display: none;
  background-color: var(--color-theme2);
  padding: 5px;
  border-radius: 0 5px 5px 0;
}

.search-submit-icon:hover {
  cursor: pointer;
  filter: brightness(85%);
}

.search-submit-icon img {
  width: 25px;
  height: 25px;
}


.grid {
  margin: 60px 0;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(var(--grid-columns),var(--grid-width-columns));
  column-gap: var(--grid-column-gap);
}



.menu {
  position: relative;
  width: 40px;
  height: 40px;
  display: none;
  cursor: pointer;
}

.menu img {
  z-index: 2;
  width: 40px;
  height: 40px;
}

.hidden-menu-overlay  {  
  display: flex;
  opacity: 0;
  visibility: hidden;

  transition: 
  opacity 0.2s ease,
  visibility 0s linear 0.2s;

  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.438);
  z-index: 1;
  
}

.hidden-menu-overlay.open {
  opacity: 1;
  visibility: visible;

} 

.hidden-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform .2s linear;
  width: 300px;
  height: 100%;
  margin-top: 70px;
  background-color: var(--color-theme1);
}

.hidden-menu.open {
  transition: transform .2s linear;
  transform: scaleX(1);
}

.hidden-menu button {
  padding: 10px 20px;
  height: 50px;
  width: 100%;
  font-weight: 500;
  background-color: var(--color-theme1);
  color: var(--color-theme4);
}

.hidden-menu button:hover {
  background-color: var(--color-theme5);
  color: var(--color-theme3);
}

.hidden-menu button.current-page {
  background-color: var(--color-theme5);
  color: var(--color-theme3);
}



@media (max-width:850px) {

  :root {
    --grid-columns: 8;
  }

  .grid {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 0 30px 0 ;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    box-sizing: border-box;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 0;
    padding: 0 0 0 30px;
  }
  
  .search-container {
    position: absolute;
    right: 30px;
  }

  .search-text {
    width: 15dvw;
  }

  .search-submit {
    display: none;
  }

  .search-submit-icon {
    display: flex;
  }
  
  
}

@media (max-width:700px) {

  .menu {
    display: flex;
  }

  .search-text {
    width: 30dvw;
  }

  header nav {
    display: none;
  }

}

@media (max-width:600px) {
  .card-container {
    align-items: center;
    justify-content: start;

  }
  
}