
.card-partido-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    background-color: var(--color-theme4);
    grid-column: 1 / -1;
    padding: 30px;
    border-radius: 50px;
}

.card-partido {
    display: flex;
    align-items: center;
    gap: 15px;
}

.card-partido-apresentacao {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.partido-apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 120px;
}

.partido-descricao-container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(var(--grid-columns),var(--grid-width-columns));
    column-gap: var(--grid-column-gap);
    width: 100%;
    height: max-content;
}

.partido-descricao {
    display: flex;
    gap: 15px;
    grid-column: 1 / -1;
    padding: 15px 60px;
}

.background-gray {
    background-color: var(--color-theme4);
}

.partido-logo-container {
    margin: 60px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.partido-logo {
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 50px;      
    width: 100px;
    height: 100px;
    background-color: var(--color-theme5);
    color: var(--color-theme4);
    font-weight: bold;
}

.partido-membros-container {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    grid-template-columns: repeat(var(--grid-columns),var(--grid-width-columns));
    column-gap: var(--grid-column-gap);
    row-gap: 30px;
    grid-column: 1 / -1;
}